.hudContainer {
  background-color: var(--color-grey);
  color: var(--color-white);
  font-family: var(--font);
  min-width: 280px;
  width: fit-content;
  max-width: 1280px;
  align-items: center;
  gap: 3rem;
  padding: 1.2rem;
  height: 139px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  color: aliceblue;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}