.hudContainer {
  background-color: var(--color-grey);
  color: var(--color-white);
  font-family: var(--font);
  width: 605px;
  height: 139px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border-radius: 8px;
  margin-top: 150px;
  box-sizing: border-box;
  color: aliceblue;
  font-size: 24px;
}