.fullachieve {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  background-color: var(--color-blue-light);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.achievementscontainer {
  margin: auto;
  display: flex;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: var(--font);
  font-size: 3rem;
  color: var(--color-grey);
  margin-bottom: 3rem;
}

.achievementscardcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 300px;
  gap: 3rem;
}
