.cookies-container {
    width: 100%;
    max-width: 1280px;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 10rem 0 4rem;
}

h2 {

    font-family: var(--font);
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-grey);

}