.bghomecover {
  background-image: url("/webp/bg-cover.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  filter: blur(0px);
  transition: filter 1s ease-in-out;
}
.santaposition {
  display: flex;
  justify-content: center;
  align-items: end;

  .santaclaus {
    display: block;
    position: absolute;
    bottom: 5vh;

    min-width: 320px;
    width: 320px;
    min-height: 320px;
    height: 320px;
    z-index: 1;

    background: url("/svg/SantaClause-bag.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &:active {
      transform: rotate(2deg);
    }
  }

  .pieces-particle {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    animation: pieces-up 1.5s linear forwards;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@keyframes pieces-up {
  0% {
    opacity: 1;
  }

  100% {
    transform: rotate3d(0, 1, 0, 180deg);
    opacity: 0;
    bottom: 100%;
  }
}
