.mentionslegales {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 15rem 1rem 4rem;
}

h2 {

    font-family: var(--font);
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-grey);

}