* {
  margin: 0;
  padding: 0;
  
}

:root {
  --color-blue-light: #DCECF3;
  --color-purple-light: #E4E3F3;
  --color-red-light: #C33636;
  --color-white: #ffffff;
  --color-light: #eaeaea;
  --color-grey: #202020;
  --color-grey-hover: #606060;

  --bg-color: var(--color-blue-light);

  --font: "Hanken Grotesk", sans-serif;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  margin-top: 80px;
  background-color:var(--bg-color);
}
