* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --color-blue-light: #dcecf3;
  --color-purple-light: #e4e3f3;
  --color-red-light: #c33636;
  --color-white: #ffffff;
  --color-light: #eaeaea;
  --color-grey: #202020;
  --color-grey-hover: #606060;

  --bg-color: var(--color-blue-light);

  --font: "Hanken Grotesk", sans-serif;
}

a {
  text-decoration: none;
}

main {
  min-height: 92vh;
  margin-top: 80px;
  padding: 0 0 2rem;
  background-color: var(--bg-color);
}